{
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "always",
  "printWidth": 120,
  "importOrder": ["^@fransvilhelm/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
